*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
p {
  margin: 0px;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #6c7279;
  margin: 0px;
}
/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;;
}
/* Header */
.header {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0px;
  border-bottom: 1px solid #515369;
}
/* NAV */
nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__link {
  margin-left: 50px;
  color: white;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.2s linear;
}
.nav__link:first-child {
  margin-left: 0px;
}
.nav__link:hover {
  opacity: 1;
}
/* INTRO */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  height: 750px;
  background: #31344e url("img/intro-bg.jpg") center no-repeat;
}
.intro__inner{
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}
.intro__title {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  line-height: 1.1;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.intro__subtitle{
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 60px;
}
/* Button */
.btn{
  display: inline-block;
  vertical-align: top;
  padding: 14px 40px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.1s linear;
}
.btn--red{
  background-color: red;
  border-radius: 2px;
  color: #fff;
}
.btn--red:hover{
  background-color: rgb(190, 12, 12);
}
/* Features */
.features{
  display: flex;
  flex-wrap: wrap;
  margin: 95px 0;;
}

.features__item{
  width: 33.3333%;
  padding: 0 40px;
  margin: 25px 0;
  text-align: center;
  
}
.features__icon{
  margin-bottom: 20px;
}
.features__title{
  font-size: 14px;
  color: #2D3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.features__text{
  font-size: 14px;
  color: ##6C7279;
  line-height: 1.5;
}
/* Works */
.works{
  display: flex;
  flex-wrap: wrap;
}
.works__item{
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.works__item:hover .works__content{
  opacity: 1;
}
.works__photo{
  position: absolute;
  top: 50%;
  left:50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.works__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgb(232, 69, 69, 0.9);
  opacity: 0;
  position: absolute;
  top: 0;
  left:0;
  z-index: 2;
  transition: opacity .2s linear;
}
.works__title{
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.woks__text{
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
.team{
  margin: 70px 0;
}
.team__inner{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.team__item{
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.team__photo{
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.team__name{
  margin-bottom: 8px;
  font-size: 22px;
  color: #2D3033;
}
.team__prof{
  margin-bottom: 15px;
  font-size: 13px;
  color: #E84545;
  text-transform: uppercase;
}
.team__text{
  font-size: 14px;
  line-height: 1.5;
  color: #6C7279;
}